@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
    margin: 0;
    font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; 
}

.header {
    font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
	background-color: #f4f6f8;
    border-bottom: 1px solid #f4f6f8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    /*background-color: #fff;*/
}

.homebtn {
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
  font-size: 150%;
  background-color: #f4f6f8;
  white-space:nowrap;
  border: 1px solid #f4f6f8;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #222;
}

.nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.nav a:hover {
    text-decoration: underline;
}

.login-button {
	white-space:nowrap;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #f4f6f8;
    background-color: #f4f6f8;
    border-radius: 5px;
    cursor: pointer;
}

.user-info{
	white-space:nowrap;
	text-align: center;	
}

.login-button:hover {
	font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
	background-color: #f4f6f8;
	white-space:nowrap;
	border: 1px solid #f4f6f8;
}

.logout-button {
	white-space:nowrap;
    padding: 6px 12px;
    font-size: 14px;
    border: 1px solid #f4f6f8;
    background-color: #f4f6f8;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
	font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
	background-color: #f4f6f8;
	white-space:nowrap;
	border: 1px solid #f4f6f8;
}

.nav{
  display: flex;	
}

.menubtn {
  border: none;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: black;
  font-weight: 300;
  font-size: 15px;
  background-color:#f4f6f8;
  padding: 5px 10px;
  margin: 0px 20px;
  width: 200px;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
}

.menubtn span {
  position: relative; 
  z-index: 1;
}

.menubtn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 500%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.menubtn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}



