body {
  font-family: 'Noto Sans KR', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 20px;
  text-align: center;
}

h2 {
  color: #2a4d69;
  margin-bottom: 15px;
  font-size: 40px !important;
}

p {
  font-size: 18px; /* 약간 키움 */
  line-height: 1.6;
  color: #333;
  margin: 10px 0;
}

.notice-button {
  position: fixed;
  right: 10px;
  bottom: 20px;
  float: right;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 10px rgb(128, 255, 255);
  z-index: 2;
}

.notice-button:hover {
  background-color: rgb(108, 182, 255);
}

.flight-table {
  width: 80%;
  margin: 30px auto;
  border-collapse: collapse;
  font-size: 17px;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.flight-table th,
.flight-table td {
  border: 1px solid #ccc; /* 표 테두리 */
  padding: 12px;
  text-align: center;
}

.flight-table th {
  background-color: #2a4d69;
  color: white;
}

.flight-table td {
  color: #333;
}

.flight-table tr:last-child td {
  background-color: #f0f0f0;
  font-style: italic;
}
