/* onlinecheckin.css */
body{
	background-color: #f4f6f8;
}

.checkin-container {
	min-width: 680px;
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.checkin-header {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
}

.checkin-table {
  width: 100%;
  border-collapse: collapse;
}

.checkin-table th,
.checkin-table td {
  border: 1px solid #aaa;
  padding: 10px;
  text-align: center;
}

tr th {
	font-size: 15px;
	cursor: default;
}

.checkin-button {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.checkin-button a {
  padding: 10px 20px;
  background-color: #0078d4;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.reservationN{
	background-color: lightblue;	
	font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック"; font-weight: bold;
}

.reservationS{
	cursor: pointer;
	font-family: "Tsukushi A Round Gothic","筑紫A丸ゴシック";
}

.reservationS:hover{
	background-color: lightskyblue;
	 font-weight: bold;
}

#resiNum{
	width: 100px;
	height: 35px;
}

#date{
	width: 130px;
	height: 35px;
}

.airport{
	width: 80px;
	height: 35px;
}

.time{
	width: 90px;
	height: 35px;
}

#flightNo{
	width: 108px;
	height: 35px;
}


